@charset "UTF-8";
.fondo {
  height: auto;
  background-image: -webkit-gradient(linear, left top, left bottom, from(brown), to(black));
  background-image: linear-gradient(brown, black);
}

.fondo main {
  margin: 40px;
}

/* ---nav inicio--- */
.bg-dark {
  background-color: brown !important;
}

.nav-link:hover {
  color: black !important;
  font-size: large;
}

/* ---nav fin-- */
/* ---jumbotron inicio--- */
.jumbotron {
  background-image: url(../imagenes/popcorn.jpg);
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-bottom: auto;
  border-radius: 0%;
  font-size: 30px;
  font-family: 'Pangolin', cursive;
}

.jumbotron h1 {
  font-size: 90px;
}

/* ---jumbotron fin--- */
/* ---carrusel inicio--- */
.carousel-inner {
  padding-top: 10px;
  height: 400px;
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  height: 400px;
}

/* ---carrusel fin--- */
/* ---todos los subtitulos--- */
h2 {
  text-align: center;
  color: white;
  margin-bottom: 0px;
  padding: 40px;
}

/* ---fin todos los subtitulos--- */
/* ---lo mejor de la semana inicio--- */
.ubiImag {
  text-align: center;
}

.ubiImag .imagenNoticia {
  height: 300px;
  width: 550px;
}

.textoSem, .pageNoticia .textoNoticia {
  color: white;
  text-align: justify;
  padding: 60px;
}

/* ------Lo mejor de la semana fin */
/* -----noticia del dia inicio--- */
.notiHome {
  text-align: center;
  color: white;
  margin-bottom: 0px;
  padding: 40px;
}

.margenNoticia {
  height: 400px;
}

.ubiImagNoti {
  text-align: center;
}

.ubiImagNoti .will {
  height: 300px;
  width: 500px;
}

/* ----contacto inicio--- */
.formulario {
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* ----contacto fin--- */
/* ----footer--- */
.iconos {
  background-color: #1d1a1a;
  height: 70px;
  color: white;
  font-size: 40px;
  text-align: center;
}

.footerb {
  background-color: #0c0b0b;
  text-align: center;
  color: white;
  font-size: 80px;
}

/* ---final footer e inicio-- */
/* ----seccion noticia --- */
.pageEstreno {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 260px 260px 260px;
      grid-template-rows: 260px 260px 260px;
  gap: 10px;
}

.pageEstreno .estreno {
  background-color: rgba(255, 255, 255, 0.164);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
  text-transform: capitalize;
  padding: 5px;
}

.pageEstreno .tituloes {
  font-size: 20px;
  text-align: center;
  color: white;
}

.pageEstreno .im1 {
  background-image: url(../imagenes/img/amalgama.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.pageEstreno .estreno1 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.pageEstreno .im2 {
  background-image: url(../imagenes/img/eligeomuere.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.pageEstreno .estreno2 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.pageEstreno .im3 {
  background-image: url(../imagenes/img/ultraman.jpg);
  background-size: cover;
  background-position: center;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.pageEstreno .estreno3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-column: 3/6;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.pageNoticia {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 10px;
  /* .pageNoticia1 {
        background-color: $colorFondoTextoOs;
    } */
}

.pageNoticia .titleNoticia {
  color: white;
  width: 100%;
  height: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding-top: 5px;
  text-align: center;
}

.pageNoticia .imagenNoticia {
  width: 600px;
  height: 300px;
  background-image: url(../imagenes/img/WillSmith.jpg);
  background-size: cover;
  background-position: center;
}

.pageNoticia .textoNoticia {
  font-size: 20px;
}

.listanoti-l1 {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background-color: blue;
  margin: 10px;
  border-radius: 5px;
}

.listanoti-l2 {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background-color: pink;
  margin: 10px;
  border-radius: 5px;
}

.listanoti-l3 {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background-color: orange;
  margin: 10px;
  border-radius: 5px;
}

.listanoti-l4 {
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background-color: green;
  margin: 10px;
  border-radius: 5px;
}

/* ----final seccion noticia --- */
/* ---------MEDIA SECCION NOTICIAS---- */
/* ------MEDIA ESTRENO--- */
@media only screen and (max-width: 720px) {
  .pageEstreno {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .pageEstreno .im1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .pageEstreno .estreno1 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    font-size: 15px;
  }
  .pageEstreno .im2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .pageEstreno .estreno2 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    font-size: 15px;
  }
  .pageEstreno .im3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .pageEstreno .estreno3 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    font-size: 15px;
  }
  /* -------MEDIA NOTICIA------ */
  .pageNoticia {
    width: 100%;
    height: auto;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 10px;
  }
  .pageNoticia .titleNoticia {
    width: 90%;
    height: 80px;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
  }
  .pageNoticia .imagenNoticia {
    width: 300px;
    height: 200px;
  }
  .pageNoticia .textoNoticia {
    width: 90%;
    height: auto;
    font-size: 15px;
  }
}

/* ----fin del media seccion noticia--- */
/* ----seccion generos--- */
.estrellas {
  color: black;
  font-size: medium;
}

/* ---fin generos--- */
/* ---cines inicio-- */
.containerCine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.containerCine .mapa {
  -ms-flex-preferred-size: 800px;
      flex-basis: 800px;
}

.containerCine .tamañoMapa {
  width: 100%;
  border-radius: 10px;
}

.containerCine .animacion {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.containerCine .tamañoSvg {
  width: 200px;
  height: 200px;
}

/* ---mapa cine--- */
/* ---lista de cines-- */
.lista {
  text-align: center;
  color: white;
  padding: 30px;
}

.listaCines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.listaCines .cardCine {
  background-color: rgba(255, 255, 255, 0.164);
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /*     flex-wrap: wrap;
 */
}

.listaCines .imCine {
  background-image: url(../imagenes/img/cines/cinepolis.jpg);
  background-size: cover;
  background-position: center;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.listaCines .imCineDos {
  background-image: url(../imagenes/img/cines/cinemark.jpg);
  background-size: cover;
  background-position: center;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.listaCines .imCineTres {
  background-image: url(../imagenes/img/cines/cineItalia.jpg);
  background-size: cover;
  background-position: center;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.listaCines .imCineCuatro {
  background-image: url(../imagenes/img/cines/multiplex.jpg);
  background-size: cover;
  background-position: center;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
}

.listaCines .tamañoCine {
  width: 100%;
}

.listaCines .textoCine ul li {
  list-style: none;
}

.listaCines .textoCine ul li a {
  color: blue;
}

/* ---fin lista de cines--- */
/* ---media cines-- */
@media only screen and (max-width: 720px) {
  .containerCine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .listaCines {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .listaCines .cardCine {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  .listaCines .imCine {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

/* ----fin media cines--- */
/*# sourceMappingURL=estilos.css.map */